﻿@model IEnumerable<tienda.Models.Comment>



@using (Ajax.BeginForm("_CommentsForMovie",
                        new { id = ViewBag.MovieId },
                        new AjaxOptions { UpdateTargetId = "comments-tool" }))
{

    <div id="comments-tool">
        <h3>Comments</h3>

        <div id="all-comments">
            @foreach (var item in Model)
            {
                <div class="photo-comment">

                    <div class="photo-comment-from">
                        From:
                        @Html.DisplayFor(modelItem => item.UserName)
                    </div>

                    <div class="photo-comment-subject">
                        @Html.DisplayNameFor(model => model.Subject):
                        @Html.DisplayFor(modelItem => item.Subject)
                    </div>

                    <div class="photo-comment-body">
                        @Html.DisplayFor(modelItem => item.Body)
                    </div>

                    @Html.ActionLink("Delete This Comment", "Delete", new { id = item.CommentID })

                </div>
            }
        </div>

        <div id="addcomment" class="add-comment-box">
            @if (Request.IsAuthenticated)
            {
                @Html.Action("_Create", "Comment", new { MovieId = ViewBag.MovieId })
            }
            else
            {
                <li>



                    @Html.ActionLink("debe hacer login", "Login", "Account",
                        routeValues: new { @returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery },
                        htmlAttributes: new { id = "registerLink" })
                </li>


                
                
            }
        </div>
        <br />
        <hr />
    </div>
}
