﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                         <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Peliculas
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>@Html.ActionLink("Peliculas", "Index", "Pelicula")</li>
            <li>@Html.ActionLink("Lista", "Lista", "Pelicula")</li>
            <li>@Html.ActionLink("ListaImagenes", "ListaImagenes", "Pelicula")</li>
            <li>@Html.ActionLink("Lista PopOver Imagenes", "ListaPopOverImagenes", "Pelicula")</li>
            <li>@Html.ActionLink("Ver Favoritas", "FavoritesSlideshow", "Pelicula")</li>
          <li>@Html.ActionLink("Crear", "Create", "Pelicula")</li>
          <li><a href="#">Page 1-3</a></li> 
        </ul>
      </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
