﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul#album-list
{
	list-style: none;
	margin-left: 0px;
}

ul#album-list li
{
	height: 130px;
	width: 100px;
	float: left;
	margin: 10px;
	text-align: center;
}

ul#album-list li a, ul#album-list li .button
{
	font-size: 13px;
	float: left;
}

ul#album-list li a span
{
	color: #9b9993;
	text-decoration: underline;
}

.popover-content {
    word-wrap: break-word;
    color: black !important;
}
.popover-title{
    background: #d9534f !important;
    color: white;
}


.photo-index-card {
    background-color: #eeeeee;
    border-color: #538345;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    color: #333333;
    padding: 15px;
    margin: 5px;
    height: 500px;
    width: 280px;
    float: left;
}

.photo-index-card-img {
	width: 250px;
	max-height: 320px;
}

.photo-metadata {
    width: 800px;
    border: 1px, solid, black;
    border-radius: 10px;
    padding: 15px;
}

.photo-description {
    min-height: 100px;
    width: 770px;
    background-color: #eeeeee;
    border-color: #538345;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    color: #333333;
    padding: 15px;
}

.photo-comment {
    min-height: 100px;
    width: 770px;
    color: darkslategray;
    /*background-color: cadetblue;*/
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 15px;    
    margin: 5px;
}

.add-comment-box {
    width: 770px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 15px;    
    margin: 5px;   
}

.photo-comment-body {
    margin: 15px;
}

.field-validation-error {
    color: #b72323;
}

#slide-show {
    position:relative;
    height: 650px;
}

#slide-show DIV.slide-show-card {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    height: 600px;
    background-color: #eeeeee;
    border-color: #538345;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    color: #333333;
    padding: 15px;
    margin: 5px;
    height: 650px;
    width: 800px;
}

#slide-show DIV.active-card {
    z-index: 10;
}

#slide-show DIV.last-active-card {
    z-index: 9;
}

#slideshow-progress-bar-container {
    margin: 5px;
    width: 834px;
}

