﻿@using PagedList.Mvc
@model PagedList.IPagedList<tienda.Models.Pelicula>

<div id="peliculas">
    pager ajax
     <div class="pagedList" data-otf-target="#peliculas">
         @Html.PagedListPager(list: Model,
    generatePageUrl: page => Url.Action("ListaPopOverImagenes", new { pagina = page }),
                                             options: PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                                             {
                                                 HttpMethod = "GET",
                                                 UpdateTargetId = "peliculas"
                                             }))
     </div>

    <ul id="album-list">
        @foreach (var pel in Model)
        {
            <li>
                <div rel="popover">
                    <img alt="@pel.Titulo" title="@pel.Titulo" 
                        src="@Url.Content("~" + pel.ruta)" 
                        width="100px" height="100px"
                        data-id="@pel.id"
                        data-titulo="@pel.Titulo"                         
                        data-toggle="popover"
                        data-trigger="hover focus"
                        data-desc="@pel.descripcion"
                        data-rate="@pel.Rate" 
                        class="imgpopover"
                        onMouseOver="this.style.cursor='pointer'"
                         />

                </div>
                <span>@pel.Titulo</span>
            </li>
            
        }

    </ul>

</div>
