﻿@model tienda.Models.Pelicula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Styles.Render("~/Content/toastr")
<fieldset>

    <div class="alert alert-success" style="display:none" id="mensajeSuccess">
  <strong>Success!</strong> su pelicula fue actualizada con éxito.
</div>


 <div class="alert alert-danger" style="display:none" id="mensajeError">
  <strong>Error!</strong> su pelicula NO fue actualizada con éxito.
</div>

    <legend>Pelicula</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Director)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Director)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ruta)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.ruta)*@
        <img alt="@Model.Titulo" title="@Model.Titulo" src="@Url.Content("~" + Model.ruta)" 
                     width="100px" height="100px" />
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.precio)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <dt>Calificación
    </dt>
    <dd>
        <span id="spanRate">
            @Html.DisplayFor(model => model.Rate)
        </span>
        @Html.Partial("_Rating", Model)

        <img src="~/Content/imagenes/loader.gif"  id="imgLoader" />

        @Html.HiddenFor(m => m.Rate, new { id = "Rate" })

    </dd>

     <dd>
        <div id="addtofavorites">
    @Ajax.ActionLink("Add this Movie to your favorites", 
        "AddFavorite", 
        "Pelicula",                         
        new { id = Model.id }, 
        new AjaxOptions {
                            UpdateTargetId = "addtofavorites",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace
                        })    
</div>
    </dd>


    
@Html.Action("_CommentsForMovie", "Comment", new { id = Model.id })


</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script src="@Url.Content("~/Scripts/rating.js")"></script>
     @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/toastr")

    <script>
        $(document).ready(function () {
            $("#imgLoader").hide();
            var pid = $("#Rate").val();
            $("input[type=radio][value='" + pid + "']").attr('checked', 'checked');

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-full-width",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

        });

        $(function () {
            $('.ratting-item').rating(function (vote, event) {
                var anchor = $(event.currentTarget);
                var pid = anchor.closest(".ratting-item").data("pid");
                var url = '@Url.Action("RateProduct1", "Pelicula")';
                $("#Rate").val(vote);//actualizar campo oculto con nueva calificacion
                $("#spanRate").text(vote);
                
                //mensaje de espera

                $('.ratting-item[data-pid=' + pid + ']')
                    .next()
                    .text("Actualizando Calificación...");

                $("#imgLoader").show();   
                
                var request = $.ajax({
                    url: url,
                    type: "GET",
                    data: { rate: vote, id: pid }
                });

                request.success(function (msg) {
                    //console.log("success:" + msg);
                    if (msg.success) {
                        //$('.result').text("Listo!");
                        toastr.success('Calificación actualizada!');
                        $("#mensajeError").hide();
                        $("#mensajeSuccess").show();
                       
                    }
                });

                request.error(function (err) {
                    //console.log("error: " + err);
                    $('.result').text(err);

                    toastr.options = {                        
                        "positionClass": "toast-bottom-full-width",
                    }
                    $("#mensajeSuccess").hide();
                    $("#mensajeError").show();

                    toastr.error("Ocurrió un error actualizando su pelicula");
                });

                request.complete(function () {
                    //console.log("complete");
                    $('.result').text("");
                    $('.ratting-item[data-pid=' + pid + ']')
                   .next()
                   .text("");
                    $("#imgLoader").hide();
                    toastr.info('Calificación actualizada!');
                });

            });
        });
    </script>

}