﻿@model tienda.Models.Pelicula

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Pelicula",
    FormMethod.Post,
    
    new { enctype = "multipart/form-data" } ))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pelicula</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titulo)
            @Html.ValidationMessageFor(model => model.Titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Director)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Director)
            @Html.ValidationMessageFor(model => model.Director)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ruta)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.ruta)
            <img id="previewImg" 
                     alt="@Model.Titulo" 
                     src="@Url.Content("~" + Model.ruta)" 
                    width="100px" height="100px"/>

            @Html.ValidationMessageFor(model => model.ruta)
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                imagen:
            </div>
            <div class="col-md-10">
                <input type="file" id="file" name="file" />
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.precio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.precio)
            @Html.ValidationMessageFor(model => model.precio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
           @* @Html.EditorFor(model => model.descripcion)*@
            @Html.TextAreaFor(model => model.descripcion, new { rows = "5", cols = "150" })
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewImg').attr('src',
                        e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file").change(function () {
            readURL(this);
        });

    </script>
}
