﻿@using PagedList.Mvc
@model PagedList.IPagedList<tienda.Models.Pelicula>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @Html.Partial("_ResultadosImagenes", Model)

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
