﻿@using PagedList.Mvc
@model PagedList.IPagedList<tienda.Models.Pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="pager1" data-otf-target="#peliculas">
    @Html.PagedListPager(Model, pagina => Url.Action("Lista",
                                                     new { pagina }),
                         PagedListRenderOptions.MinimalWithItemCountText)
</div>


@Html.Partial("_Resultados", Model)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
