﻿@model IEnumerable<tienda.Models.Pelicula>

@{
    ViewBag.Title = "SlideShow";
}

<h2>Slide Show</h2>

<div id="slideshow-progress-bar-container">
    <div id="slideshow-progress-bar"></div>
</div>

<div id="slide-show">
    @foreach (var item in Model) {

        <div class="slide-show-card">
            <h3>
                @Html.ActionLink(item.Titulo, "Details", new { id = item.id })
            </h3>
            <p>
                Category: @Html.DisplayFor(modelItem => item.categoria)
            </p>
            <p>@item.descripcion</p>
            @if (item.ruta != null) {
                <img height="430" src="@item.ruta" id="@item.id"/>
            }
            
        </div>
        
        
    }

</div>

@section scripts {
    
     @Scripts.Render("~/bundles/jqueryui")
    <script src="@Url.Content("~/Scripts/SlideShow.js")" type="text/javascript"></script>
    

}